:root {
    --dim-nav-h: 72px;
    --dim-itr: 1;
    --disappear-sm: inherit;
    --disappear-md: inherit;
    --disappear-lg: inherit;
}

.disappear-sm {
    display: var(--disappear-sm);
}

.disappear-md {
    display: var(--disappear-md);
}

.disappear-lg {
    display: var(--disappear-lg);
}

@media screen and (max-width: 1440px) {
    :root {
        --dim-itr: 0.95 !important;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --dim-itr: 0.875 !important;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --dim-itr: 0.85 !important;
        --disappear-lg: none;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --dim-itr: 0.825 !important;
        --disappear-md: none;
    }
}

@media screen and (max-width: 445px) {
    :root {
        --dim-itr: 0.78 !important;
        --disappear-sm: none;
    }
}