@font-face {
    font-family: Inter;
    src: url("../../font/inter.ttf");
}

@font-face {
    font-family: Symbols;
    src: url("../../font/symbols.ttf");
}

.text-primary {
    color: var(--cl-text-primary) !important;
}