@import url("./fonts.css");

i {
    font-style: normal;
    font-weight: 1000;
    font-family: Symbols;
}

i.s-1 {
    font-size: 1.15em;
}

i.s-2 {
    font-size: 1.35em;
}

i.s-3 {
    font-size: 1.55em;
}

i.s-4 {
    font-size: 2em;
}

i.s-5 {
    font-size: 3em;
}

i.thin {
    font-weight: 200 !important;
}

i.box {
    background-color: rgba(0,0,0,0.2);
    padding: 0 8px;
    border-radius: 6px;
}

i.primary {
    color: aqua;
}

i.primary.box {
    background-color: aliceblue;
}

i.secondary {
    color: red;
}

i.tertiary {
    color: blue;
}