.p-1 {
    padding: calc(8px * 1 * var(--dim-itr));
}

.p-2 {
    padding: calc(8px * 2 * var(--dim-itr));
}

.p-3 {
    padding: calc(8px * 4 * var(--dim-itr));
}

.p-4 {
    padding: calc(8px * 6 * var(--dim-itr));
}

.p-5 {
    padding: calc(8px * 8 * var(--dim-itr));
}



.pv-1 {
    padding: calc(8px * 1 * var(--dim-itr)) 0;
}

.pv-2 {
    padding: calc(8px * 2 * var(--dim-itr)) 0;
}

.pv-3 {
    padding: calc(8px * 4 * var(--dim-itr)) 0;
}

.pv-4 {
    padding: calc(8px * 6 * var(--dim-itr)) 0;
}

.pv-5 {
    padding: calc(8px * 8 * var(--dim-itr)) 0;
}



.ph-1 {
    padding: 0 calc(8px * 1 * var(--dim-itr));
}

.ph-2 {
    padding: 0 calc(8px * 2 * var(--dim-itr));
}

.ph-3 {
    padding: 0 calc(8px * 4 * var(--dim-itr));
}

.ph-4 {
    padding: 0 calc(8px * 6 * var(--dim-itr));
}

.ph-5 {
    padding: 0 calc(8px * 8 * var(--dim-itr));
}