.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.to-bottom {
    bottom: 0;
}

.to-top {
    top: 0;
}

.to-left {
    left: 0;
}

.to-right {
    right: 0;
}

.text-center {
    text-align: center;
}

.j-space-around {
    justify-content: space-around;
}

.j-space-between {
    justify-content: space-between !important;
}