@import url("./dimensions.css");

.autow {
    width: 100% !important;
}

.autoh {
    height: 100% !important;
}

.fillvh {
    min-height: 100vh;
}

.fillvh-safe {
    min-height: calc(100vh - var(--dim-nav-h)) !important;
}

.gap-1 {
    gap: 4px;
}

.gap-2 {
    gap: 8px;
}

.gap-3 {
    gap: 16px;
}

.gap-4 {
    gap: 20px;
}