html:root {
    --cl-primary: #0af;
    --cl-secondary: #aaa;
    --cl-tertiary: #ffda07;

    --cl-text-primary: rgb(250, 255, 255);

    --cl-text-secondary: #bbb;
    --cl-text-tertiary: #bbb;

    --cl-bg-primary: #fff;
    --cl-bg-secondary: #fff;
    --cl-bg-tertiary: #fff;

    --cl-shadow: rgba(50, 50, 50, 0.5);
    --cl-shadow-primary: rgba(0, 170, 255, 0.137);
}

.theme-button i::before {
    content: "";
}

.theme-switch:checked~.theme-button i::before {
    content: "";
}