html:root {
    --cl-primary: #fff;
    --cl-secondary: #aaa;
    --cl-tertiary: #aaa;
    --cl-hover-primary: #bbb;
    --cl-hover-secondary: #bbb;
    --cl-hover-tertiary: #bbb;
    --cl-text-primary: #bbb;
    --cl-text-secondary: #bbb;
    --cl-text-tertiary: #bbb;
}

html.dark:root {
    --cl-primary: #121212;
    --cl-secondary: #aaa;
    --cl-tertiary: #aaa;
    --cl-hover-primary: #bbb;
    --cl-hover-secondary: #bbb;
    --cl-hover-tertiary: #bbb;
    --cl-text-primary: #bbb;
    --cl-text-secondary: #bbb;
    --cl-text-tertiary: #bbb;
}