@import url("./lib/normalize.css");
@import url("./common/fonts.css");
@import url("./common/icons.css");
@import url("./common/theme.css");
@import url("./common/padding.css");
@import url("./common/dimensions.css");
@import url("./common/sizing.css");
@import url("./common/positions.css");
@import url("./animations.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: none;
}

body {
    font-family: Inter;
    font-size: calc(100% * var(--dim-itr));
}

body.default {
    background: url("../img/bg.svg") no-repeat;
    background-size: cover;
}

nav {
    padding: 0 calc(1vmax * var(--dim-itr));
    width: 100%;
    height: var(--dim-nav-h);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
}

nav a {
    cursor: pointer;
    user-select: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1rem * var(--dim-itr));
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav ul a {
    padding: calc(.25rem * var(--dim-itr)) calc(1rem * var(--dim-itr));
}

nav ul a:hover {
    border-radius: calc(1rem * var(--dim-itr));
    background-color: rgba(0, 0, 0, 0.2);
}

main.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


div {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    padding: 0 calc(2rem * var(--dim-itr));
}

@media screen and (max-width: 768px) {
    .container {
        padding: calc(2rem * var(--dim-itr) * 0.25) !important;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: calc(2rem * var(--dim-itr) * 0.6);
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.panel {
    height: var(--dim-nav-h);
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 300px));
}

@media screen and (max-width: 320px) {
    .wrap-md {
        flex-direction: column;
    }

    .grid {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .wrap-md {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .wrap-lg {
        flex-direction: column;
    }
}

.column {
    flex-direction: column;
    flex-grow: 1;
}

#game.disabled {
    display: none;
}

#stages.disabled {
    display: none;
}

.card {
    background-color: var(--cl-primary);
    color: var(--cl-text-primary);
    padding: calc(1rem * var(--dim-itr));
    border-radius: calc(.5rem * var(--dim-itr));
    box-shadow: 2px 1px 10px var(--cl-shadow);
    cursor: pointer;
}

.card:hover {
    box-shadow: 2px 1px 10px var(--cl-primary);
    filter: brightness(95%);
}

.card.completed {
    box-shadow: 2px 1px 10px var(--cl-shadow-tertiary) !important;
    background-color: var(--cl-tertiary);
    color: var(--cl-text-tertiary);
    pointer-events: none;
}

:is(button, a.btn) {
    user-select: none;
    padding: 0 calc(1rem * 1.5 * var(--dim-itr));
    height: calc(48px * var(--dim-itr));
    font-size: calc(1.1rem * var(--dim-itr));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    border: 1px solid rgba(100, 100, 100, 0.3);
    border-radius: 8px;
}

:is(button, a.btn):hover {
    filter: brightness(95%);
}

:is(button, a.btn).onlyicon {
    padding: 0 calc(1rem * .5);
}

:is(button, a.btn).primary {
    background-color: var(--cl-primary);
    color: white;
    font-weight: 600;
}

:is(button, a.btn).primary-out {
    background-color: var(--cl-shadow-primary);
    border: 1px solid var(--cl-primary);
    color: var(--cl-primary);
    font-weight: 600;
}

:is(button, a.btn).secondary {
    background-color: var(--cl-secondary);
    color: white;
    font-weight: 600;
}

:is(button, a.btn).secondary-out {
    background-color: var(--cl-shadow-secondary);
    border: 1px solid var(--cl-secondary);
    color: var(--cl-secondary);
    font-weight: 600;
}

:is(button, a.btn).six-out {
    background-color: var(--cl-shadow-six);
    border: 1px solid var(--cl-six);
    color: var(--cl-six);
    font-weight: 600;
}

.btn-sm {
    padding: 0 calc(1rem * var(--dim-itr) * .75) !important;
    height: calc(40px * var(--dim-itr)) !important;
    font-size: 1rem !important;
}

.translucid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    padding: 12px;
    height: fit-content;
}

.rounded-tertiary {
    border: 1px solid var(--cl-tertiary);
    background-color: var(--cl-shadow-six);
    border-radius: 12px;
}

a {
    text-decoration: none;
}

a.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.grad-primary {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(45deg,
            var(--cl-text-primary),
            var(--cl-text-secondary));
    background-clip: text;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -2px;
}


h1 {
    font-size: 3em !important;
    font-weight: 800;
    letter-spacing: -2px;
}

.white {
    color: var(--cl-text-primary);
}

.neon {
    text-shadow: 0 0 30px;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

#finish {
    display: none;
}

#finish.visible {
    display: flex;
}

.question {
    display: none;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    backdrop-filter: blur(16px);
    background-color: rgba(30, 30, 30, 0.7);
    padding: 12px;
    border-radius: 12px;
}

.question:first-child {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
}

.enunciate {
    font-size: 1.5em;
    color: var(--cl-text-primary);
}

.progress {
    padding: 6px 16px;
    font-weight: 700;
    font-size: 1.05em;
    background-color: var(--cl-shadow-primary);
    color: var(--cl-primary);
    border-radius: 16px;
    border: 1px solid var(--cl-primary);
    margin-bottom: 8px;
}

.image {
    width: 100%;
    height: calc(300px * var(--dim-itr));
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--cl-shadow);
    border-bottom-width: 2px;
    border-right-width: 2px;
}

.mark {
    color: var(--cl-primary);
    font-size: 1.2em;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.option-input {
    display: none;
}

.option-label {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: calc(16px * var(--dim-itr)) calc(22px * var(--dim-itr));
    border-radius: 12px;
    border: 1px solid var(--cl-shadow);
    font-size: 1.1em;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border: 1px solid #999;
    background-color: #9993;
    color: #999;
}

.option.selected>.option-label {
    color: var(--cl-primary);
    border: 1px solid var(--cl-primary);
    background-color: var(--cl-shadow-primary);
}

.alert-panel {
    width: 100%;
    text-align: center;
    border-radius: 12px;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height 200ms;
    border: 1px solid transparent;
}

.alert-panel.active {
    height: 50px;
}

.alert-panel.success {
    background-color: var(--cl-shadow-secondary);
    border: 1px solid var(--cl-secondary);
    color: var(--cl-secondary);
    font-weight: 600;
}

.alert-panel.error {
    background-color: var(--cl-shadow-five);
    border: 1px solid var(--cl-five);
    color: var(--cl-five);
    font-weight: 600;
}